# Local PostgreSQL (Docker)
DB_DRIVER=postgresql
DB_SOURCE=postgresql://root:admin@localhost:5432/bank?sslmode=disable

# Neon Cloud PostgreSQL
DB_DRIVER=postgresql
DB_SOURCE=postgresql://neondb_owner:
